$primary-green : #058283;
$secondary-green : #00a6a6;
$light-green : #daeced;

$primary-blue : #0d1b2a;
$light-blue : #d9f2f2;


$primary-grey : #606d75;
$secondary-grey : #e2e3e7;
$tertiary-grey : #ebecef;